<div class="container jumbotron" (submit)="submitForm()">
<form>
    <div class="mb-3">
      <label for="pat" class="form-label">Pat</label>
      <input type="password" class="form-control" name="pat" id="pat" [(ngModel)]="model.pat" aria-describedby="patHelp" placeholder="Enter pat">
      <small id="patHelp" class="form-text text-muted">Create a pat with read permission for Code.</small>
    </div>
    <div class="mb-3">
      <label for="organization" class="form-label">Organization/project</label>
      <input type="text" class="form-control" name="organization" id="organization" [(ngModel)]="model.organization" aria-describedby="organizationHelp" placeholder="Enter organization">
      <small id="organizationHelp" class="form-text text-muted">The part after https://dev.azure.com/. Eg: embrace/Embrace Suite</small>
    </div>
    <div class="mb-3">
      <label for="currentAuthorEmail" class="form-label">Your email</label>
      <input type="text" class="form-control" name="currentAuthorEmail" id="currentAuthorEmail" [(ngModel)]="model.currentAuthorEmail" aria-describedby="currentAuthorEmailHelp" placeholder="Enter author email">
      <small id="currentAuthorEmailHelp" class="form-text text-muted">Used to see if you have reviewed and/or has updates</small>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!isValid()">Save</button>
</form>
</div>