<!--The content below is only a placeholder and can be replaced.-->
<div>
  <button type="button" class="float-right btn btn-outline-secondary" [class.active]="configure" (click)="configure = !configure">Configure</button>
  <h1 class="text-center">
    PR Dashboard ({{(data$ | async)?.length}})
  </h1>
  <app-configuration *ngIf="configure" (save)="updateConfiguration($event)"></app-configuration>  
  <div *ngIf="!configure">
    <table class="table table-hover">
      <thead>
        <th style="width: 100px">#</th>
        <th>Title</th>
        <th style="width: 200px">
          <app-dropdown 
            title="Repository" 
            [options]="repositories$ | async" 
            [selection]="(filter$ | async).repository" 
            (onSelect)="selectRepo($event)" 
            [trackBy]="trackById">
            <ng-template let-repo>{{repo.name}} ({{repo.count}})</ng-template>
          </app-dropdown>
        </th>
        <th style="width: 150px">Created on</th>
        <th style="width: 200px">
          <app-dropdown 
            title="Created By" 
            [options]="creators$ | async" 
            [selection]="(filter$ | async).creator" 
            (onSelect)="selectCreator($event)" 
            [trackBy]="trackById">
            <ng-template let-creator>{{creator.displayName}} ({{creator.count}})</ng-template>
          </app-dropdown>
        </th>
        <th style="width: 150px">Reviewers</th>
      </thead>
      <tbody>
        <tr *ngFor="let pr of data$ | async; trackBy: identifyPr">
          <td><a [href]="pr.link" target="_blank">{{pr.pullRequestId}}</a></td>
          <td>{{pr.title}} 
            <span *ngIf="pr.isDraft" class="badge badge-secondary">draft</span> 
            <span *ngIf="pr.mergeStatus == 'conflicts'" class="badge badge-danger">conflicts</span><br />
            <small class="text-muted">{{stripRefHeads(pr.sourceRefName)}} into {{stripRefHeads(pr.targetRefName)}}</small>
          </td>
          <td>{{pr.repository.name}}</td>
          <td>{{pr.creationDate | date : 'mediumDate' : undefined : 'nl'}}</td>
          <td><img [src]="pr.createdBy.imageUrl" style="height: 33px;" class="rounded" /> {{pr.createdBy.displayName}}</td>
          <td>
            <span *ngFor="let reviewer of pr.reviewers; trackBy: identifyReviewer">
              <span *ngIf="reviewer.vote != 0" class="badge position-relative" >
                <span class="notify-badge badge" [class.badge-success]="reviewer.vote > 0" [class.badge-warning]="reviewer.vote == -5" [class.badge-danger]="reviewer.vote == -10">&nbsp;</span>
                <img [src]="reviewer.imageUrl" style="height: 33px;" class="rounded" title="{{getVoteStatus(reviewer.vote)}} by {{reviewer.displayName}}" />
              </span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
