<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 class="text-center">
    PR Dashboard
  </h1>
  <table class="table table-hover">
    <thead>
      <th style="width: 100px">#</th>
      <th>Title</th>
      <th style="width: 200px">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="toggle" id="repoSelection" data-toggle="dropdown" aria-haspopup="true">
                  Repository: {{(filter$ | async).repository?.name || 'All'}}
              </button>
              <div class="dropdown-menu" aria-labelledby="repoSelection">
                 <a class="dropdown-item" (click)="selectRepo(null)" [class.active]="(filter$ | async).repositoryName == null">All</a>
                 <a class="dropdown-item" href="#" *ngFor="let repo of repositories$ | async" (click)="selectRepo(repo)" [class.active]="(filter$ | async).repository?.name == repo.name">{{repo.name}} ({{repo.count}})</a>
              </div>
            </div>
      </th>
      <th style="width: 150px">Created on</th>
      <th style="width: 200px">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="toggle" id="creatorSelection" data-toggle="dropdown" aria-haspopup="true">
                  Created By: {{(filter$ | async).creator?.displayName || 'All'}}
              </button>
              <div class="dropdown-menu" aria-labelledby="creatorSelection">
                 <a class="dropdown-item" (click)="selectCreator(null)" [class.active]="(filter$ | async).creator == null">Alle</a>
                 <a class="dropdown-item" href="#" *ngFor="let creator of creators$ | async" (click)="selectCreator(creator)" [class.active]="(filter$ | async).creator?.id == creator.id">{{creator.displayName}} ({{creator.count}})</a>
              </div>
            </div>
      </th>
      <th style="width: 150px">Reviewers</th>
    </thead>
    <tbody>
      <tr *ngFor="let pr of data$ | async; trackBy: identifyPr">
        <td><a href="https://dev.azure.com/embrace/Embrace Suite/_git/{{pr.repository.name}}/pullrequest/{{pr.pullRequestId}}" target="_blank">{{pr.pullRequestId}}</a></td>
        <td>{{pr.title}} 
          <span *ngIf="pr.isDraft" class="badge badge-secondary">draft</span> 
          <span *ngIf="pr.mergeStatus == 'conflicts'" class="badge badge-danger">conflicts</span><br />
          <small class="text-muted">{{stripRefHeads(pr.sourceRefName)}} into {{stripRefHeads(pr.targetRefName)}}</small>
        </td>
        <td>{{pr.repository.name}}</td>
        <td>{{pr.creationDate | date : 'mediumDate' : undefined : 'nl'}}</td>
        <td><img src="{{pr.createdBy.imageUrl}}" style="height: 33px;" class="rounded" /> {{pr.createdBy.displayName}}</td>
        <td>
          <span *ngFor="let reviewer of pr.reviewers; trackBy: identifyReviewer">
            <span *ngIf="reviewer.vote != 0" class="badge position-relative" >
              <span class="notify-badge badge" [class.badge-success]="reviewer.vote > 0" [class.badge-warning]="reviewer.vote == -5" [class.badge-error]="reviewer.vote == -10">&nbsp;</span>
              <img src="{{reviewer.imageUrl}}" style="height: 33px;" class="rounded" title="{{getVoteStatus(reviewer.vote)}} by {{reviewer.displayName}}" />
            </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
